{% extends "root.html" %}
{% block questions %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container-fluid bg-info">
  <div class="modal-dialog" data-bind="foreach: myData">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h4><span class="label label-warning">Question <span data-bind="text:$index()+1"></span></span>
            <span data-bind="text:$data.question"></span>
          </h4>
        </div>
      </div>
      <div class="modal-body">
        <ul>
          <li data-bind="text:$data.options[0].data"></li>
          <li data-bind="text:$data.options[1].data"></li>
          <li data-bind="text:$data.options[2].data"></li>
          <li data-bind="text:$data.options[3].data"></li>
        </ul>
      </div>
      <div class="modal-footer">
        <span class="label label-success mr-auto" data-bind="text:$data.answer"></span>
        
        <button class="btn btn-danger" data-bind="click:$parent.callApi.bind(this,$data.id)">Edit <span class="glyphicon glyphicon-pencil"></span></button>
        <button class="btn btn-danger" data-bind="click:$parent.deleteQuestion.bind(this,$data.id)">Delete <span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
{% endblock %}